# dependencies
/node_modules

# testing
/coverage
/reports
/src/**/__snapshots__

# production
/build
/src/config/**/*.js

# misc
.DS_Store
.env.test
.env.local
.env.prod

.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
